<div class="container-fluid" style="height:100vh;">
    <div class="row h-100">
        <div class="col-4 bg-danger d-flex justify-content-center border border-dark">
            <a class="my-auto stretched-link" (click)="this.drinkSelected(drinks.SODA)">
                <img class="align-self-center" height="150px" width="150px" src="../../assets/soda.svg" alt="soda icon">
            </a>
        </div>
        <div class="col-4 bg-warning d-flex justify-content-center border border-dark">
            <a class="my-auto stretched-link" (click)="this.drinkSelected(drinks.BEER)">
                <img class="align-self-center" height="150px" width="150px" src="../../assets/beer.svg" alt="beer icon">
            </a>
        </div>
        <div class="col-4 bg-success d-flex justify-content-center border border-dark">
            <a class="my-auto stretched-link" (click)="this.drinkSelected(drinks.CIDER)">
                <img class="align-self-center" height="150px" width="150px" src="../../assets/cider.svg" alt="cider icon">
            </a>
        </div>
        <div class="col-4 bg-danger d-flex justify-content-center border border-dark">
            <a class="my-auto stretched-link" (click)="this.drinkSelected(drinks.SODA)">
                <img class="align-self-center" height="150px" width="150px" src="../../assets/soda.svg" alt="soda icon">
            </a>
        </div>
        <div class="col-4 bg-warning d-flex justify-content-center border border-dark">
            <a class="my-auto stretched-link" (click)="this.drinkSelected(drinks.BEER)">
                <img class="align-self-center" height="150px" width="150px" src="../../assets/beer.svg" alt="beer icon">
            </a>
        </div>
        <div class="col-4 bg-warning d-flex justify-content-center border border-dark">
            <a class="my-auto stretched-link" (click)="this.drinkSelected(drinks.BEER)">
                <img class="align-self-center" height="150px" width="150px" src="../../assets/beer.svg" alt="beer icon">
            </a>
        </div>
    </div>
</div>
