<div class="container d-flex h-100">
    <div class="row my-auto">
        <div class="col-12">
            <div class="card-deck">
                <div class="card shadow">
                    <img src="assets/beer.png" class="card-img-top" alt="beer" style="max-height: 100px; min-height:100px;">
                    <div class="card-body">
                        <h5 class="card-title">Öl</h5>
                        <p class="card-text"><small class="text-muted">1 token</small></p>
                    </div>
                </div>
                <div class="card shadow">
                    <img src="assets/cider.jpg" class="card-img-top" alt="cider" style="max-height: 100px; min-height:100px;">
                    <div class="card-body">
                        <h5 class="card-title">Cider</h5>
                        <p class="card-text"><small class="text-muted">2 token</small></p>
                    </div>
                </div>
                <div class="card shadow">
                    <img src="assets/coca-cola.png" class="card-img-top" alt="coca-cola" style="max-height: 100px; min-height:100px;">
                    <div class="card-body">
                        <h5 class="card-title">Läsk</h5>
                        <p class="card-text"><small class="text-muted">1 token</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
